.edit-popup-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    z-index: 1000;
}

.edit-popup-content {
    position: absolute;
    border-radius: 1rem;
    overflow-x: auto;
    width: 30%;
    background-color: white;
    z-index: 1000;
    max-height: 100vh;
    padding: 1rem;
}

.edit-popup-password-container {
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 100%;
}

.edit-popup-bio-container {
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
}

.edit-popup-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.edit-popup-form-fields-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 90%;
}

.edit-popup-profile-pic-change-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.edit-popup-profile-pic-container {
    position: relative;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border-color: #1a2a6c;
    border-style: solid;
    border-width: 0.3rem;
    box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.edit-popup-profile-pic-change-button {
    position: absolute;
    width: 3rem;
    height: 3rem;
    background-color: #fff;
    color: #1a2a6c;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xxx-large;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.edit-popup-profile-pic-remove-button {
    position: absolute;
    width: 3rem;
    height: 3rem;
    background-color: white;
    color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xxx-large;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    transform: rotate(45deg);

}

.edit-popup-profile-pic-remove-button:hover {
    background-color: red;
    color: white;
    font-size: xxx-large;
    transform: rotate(45deg);
}

.edit-popup-profile-pic-change-button:hover {
    background-color: #1a2a6c;
    color: #ffffff;
    font-size: xxx-large;
}

.edit-popup-background-pic-remove-button {
    position: absolute;
    width: 3rem;
    height: 3rem;
    background-color: white;
    color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xxx-large;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    transform: rotate(45deg);
}

.edit-popup-background-pic-remove-button:hover {
    background-color: red;
    color: white;
    font-size: xxx-large;
}

.edit-popup-background-pic-change-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.edit-popup-background-pic-change-button {
    position: absolute;
    width: 3rem;
    height: 3rem;
    background-color: #fff;
    color: #1a2a6c;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xxx-large;
    cursor: pointer;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.edit-popup-background-pic-container {
    position: relative;
    width: 100%;
    height: 15rem;
    border-radius: 1rem;
    border-color: #1a2a6c;
    border-style: solid;
    border-width: 0.3rem;
    box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.edit-popup-background-pic-change-button:hover {
    background-color: #1a2a6c;
    color: #ffffff;
    font-size: xxx-large;
}

.edit-popup-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    padding: 1rem;
    border-top: 0.1rem solid #000000;
}

.edit-popup-content textarea {
    width: 98%;
    border-radius: 0.5rem;
    padding: 0.5rem;
    height: 10vh;
    resize: none;
}

.edit-popup-username-container {
    margin-bottom: 1rem;
    width: 100%;
}

.edit-popup-display-name-container {
    margin-bottom: 1rem;
    width: 100%;
}

.edit-popup-bio-container {
    width: 100%;
    margin-bottom: 1rem;
}

.edit-popup-password-field-container {
    margin-bottom: 1rem;
}

.edit-popup-error{
    color: red;
    font-size: small;
    padding: 0;
    margin: 0;
}

.edit-popup-footer button {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    background-color: #ffffff;
    color: #1a2a6c;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.edit-popup-footer button:hover {
    background-color: #1a2a6c;
    color: #ffffff;
    font-weight: bold;
}

.edit-popup-username-field {
    margin: 0;
}

.edit-popup-displayname-field {
    margin: 0;
}

.edit-popup-password-field {
    margin: 0;
    width: 98%;
}

.edit-popup-password-field:disabled {
    background-color: rgba(220, 220, 220, 1);
}

.edit-popup-bio-field {
    margin: 0;
    width: 98%;
}

.edit-popup-password-change-button-container button {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    background-color: #ffffff;
    color: #1a2a6c;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.edit-popup-password-change-button-container button:hover {
    background-color: #1a2a6c;
    color: #ffffff;
    font-weight: bold;
}

.edit-popup-profile-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.edit-popup-background-pic {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (prefers-color-scheme: dark) {
    .edit-popup-content {
        background-color: #222222;
    }

    .edit-popup-footer {
        border-top: 0.1rem solid #ffffff;
    }

    .edit-popup-password-field:disabled {
    background-color: rgba(120, 120, 120, 1);
}

    .edit-popup-password-change-button-container button {
        background-color: #ffffff;
        color: #333333;
    }

    .edit-popup-password-change-button-container button:hover {
        background-color: #333333;
        color: #ffffff;
    }

    .edit-popup-footer button {
        background-color: #ffffff;
        color: #333333;
    }

    .edit-popup-footer button:hover {
        background-color: #333333;
        color: #ffffff;
    }
}

@media (max-width: 1200px) {

    .edit-popup-password-container {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .edit-popup-content {
        width: 50%;
    }

    .edit-popup-form-container {
        max-height: 50vh;
    }

    .edit-popup-footer {
        padding: 0.5rem;
    }

    .edit-popup-form {
        gap: 0.5rem;
    }

    .edit-popup-bio-container {
        grid-column: 1 / 2;
    }

    .edit-popup-password-container {
        grid-column: 1 / 2;
    }

    .edit-popup-content textarea {
        width: 95%;
    }


    .edit-popup-password-field {
        width: 95%;
    }

    .edit-popup-username-container {
        margin-bottom: 0.5rem;
    }

    .edit-popup-display-name-container {
        margin-bottom: 0.5rem;
    }

    .edit-popup-bio-container {

    }

    .edit-popup-password-field-container {
        margin-bottom: 0.5rem;
    }
}

@media (max-width: 768px) {
    .edit-popup-content {
        width: 80%;
    }
}