/* Login.css */

body {
    margin: 0;
    padding: 0;
    font-family: 'Futura', serif
}


.login-container {
    display: flex;
    height: 100vh;
    background: radial-gradient(circle, #1a2a6c, #00d2ff, #3a7bd5, #1a2a6c);
}

.login-form {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.login-form h2 {
    margin-bottom: 20px;
    text-align: left;
    font-family: 'Futura', sans-serif;
    font-weight: bold;
    font-size: 18px;
}


form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

label {
    color: #ffffff;
    margin-bottom: 10px;
    font-family: 'Futura', sans-serif;
    font-weight: lighter;
    font-size: 16px;
}

.label-white {
  color: #fff; /* Set label color to white */
}

input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #fff;
    border-radius: 10px; /* Increased border-radius */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Added box-shadow */
    font-family: 'Futura', sans-serif;
    font-weight: lighter;
    font-size: 16px;
}

button {
    background-color: #fff;
    color: #1a2a6c;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 10px; /* Increased border-radius */
    transition: background-color 0.3s ease; /* Added transition effect */
    font-family: 'Futura', sans-serif;
    font-weight: lighter;
    font-size: 16px;
}

button:hover {
    background-color: #1a2a6c;
    color: #fff;
    font-family: 'Futura', sans-serif;
    font-weight: lighter;
    font-size: 16px;
}

.app-description {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0 4px 8px rgba(3, 0, 0, 0);
}

.description-box {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    text-align: left;
    color: #1a2a6c;
    width: 90%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
}

.description-box h2 {
    margin-bottom: 10px;
    font-family: 'Futura', sans-serif;
    font-weight: lighter;
    font-size: 16px;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #222222;
    color: #ffffff;
  }

  .login-container {
    background: radial-gradient(circle, #222222, #000000, #333333, #000000);
  }

  .login-form {
    color: #ffffff
  }

  input,
  button {
    border: 1px solid #ffffff;
      color: #222222;
  }

  .description-box {
    background-color: #222222;
    color: #fff;
  }

  .app-description {
    background-color: transparent;
  }

  button {
    background-color: #fff;
    color: #222222;
  }

    button:hover {
        background-color: #222222;
        color: #fff;
    }

    .label-white {
      color: #fff; /* Set label color to white */
    }
}