.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    z-index: 1000;
}

.popup-user-list {
    list-style: none;
    padding: 0;
}


.popup-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}

.vote-icon {

}

.user-list-upvote-icon{
    color: green;
    width: 3rem;
    height: 3rem;
    font-size: 1rem;
}

.user-list-downvote-icon{
    color: red;
    width: 3rem;
    height: 3rem;
}

.popup-list-item .p {
    margin: 0;
    padding: 0;
}

.popup-list-item .username {
    cursor: pointer;
    color: #333;
    padding-left: 1rem;
    margin-left: 1rem;
    height: 100%;
}

.user-list-modal {
    position: absolute;
    border-radius: 1rem;
    padding: 1rem;
    background-color: white;
    width: 50%;
    max-height: 50%;
    z-index: 1000;
    overflow-y: auto;
}

@media (max-width: 1024px) {
    .user-list-modal {
        width: 80%;
    }


}

@media (max-width: 768px) {
    .user-list-modal {
        width: 90%;
    }

    .user-list-upvote-icon {
        width: 2rem;
        height: 2rem;

    }

    .user-list-downvote-icon {
        width: 2rem;
        height: 2rem;
    }
}

@media (prefers-color-scheme: dark) {
    .user-list-modal {
        background-color: #333333;
        color: white;
    }

    .popup-list-item .username {
        cursor: pointer;
        color: #ffffff;
    }
}