/* .postInputBox{
    width: 110%;
    height: 190px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 18px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 18px -5px rgba(0, 0, 0, 0.68);
    justify-content: center;
    
}

.postWrapper{
    padding: 5%;
}

.postTop{
    display: flex;
    align-items: center;
}

.postButton{
    position: relative;
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
    top: 750px;
    left: 820px;
    
}

.postButtonIcon{
    position: relative;
    font-size: 35px !important;
    margin: auto;
    color: blue;
    cursor: pointer;
}

.shareInput{
    border: none;
    width: 100%;
}

.shareInput:focus{
    outline: none;
}

.shareHr{
    margin: 20px;
}

.shareProfileImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.postBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postOptions{
    display: flex;
    margin-left: 20px;
}


.shareOption{
    display: flex;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
}

.shareButton{
    border: none;
    padding: 7px;
    border-radius: 5px;
    background-color: rgb(66, 79, 222);
    font-weight: 500;
    margin-right: 20px;
    cursor: pointer;
    color: white;
}

.shareOptionText{
    font-size: 14px;
    font-weight: 500;

} */

/*.postButton{*/
/*    position: relative;*/
/*    display: flex;*/
/*    flex-wrap: wrap-reverse;*/
/*    flex-direction: row-reverse;*/
/*    top: 750px;*/
/*    left: 400px;*/
/*    */
/*}*/

/*.postButtonIcon{*/
/*    !* position: relative; *!*/
/*    font-size: 35px !important;*/
/*    margin: auto;*/
/*    cursor: pointer;*/
/*}*/

/*.postInputBox{*/
/*    width: 100%;*/
/*    height: 170px;*/
/*    border-radius: 20px;*/
/*    -webkit-box-shadow: 0px 0px 18px -8px rgba(0, 0, 0, 0.68);*/
/*    box-shadow: 0px 0px 18px -20px rgba(0, 0, 0, 0.68);*/
/*    */
/*}*/

/*.postWrapper{*/
/*    padding: 10px;*/
/*}*/

/*.postTop{*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

/*.postProfileImage{*/
/*    width: 50px;*/
/*    height: 50px;*/
/*    border-radius: 50%;*/
/*    object-fit: cover;*/
/*    margin-right: 15px;*/
/*}*/

/*.postInput{*/
/*    border: none;*/
/*    width: 80%;*/
/*}*/

/*.postInput:focus{*/
/*    outline: none;*/
/*}*/

/*.shareHr{*/
/*    margin: 20px;*/
/*}*/

/*.postBottom{*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: space-between;*/
/*}*/

/*.postOptions{*/
/*    display: flex;*/
/*    margin-left: 20px;*/
/*}*/

/*.postOption{*/
/*    display: flex;*/
/*    align-items: center;*/
/*    margin-right: 30px;*/
/*    cursor: pointer;*/
/*}*/

/*.postOptionText{*/
/*    font-size: 17px;*/
/*    font-weight: 500;*/
/*}*/

/*.postIcon{*/
/*    font-size: 18px;*/
/*    margin-left: 6px;*/
/*}*/


/*.shareButton{*/
/*    border: none;*/
/*    padding: 7px;*/
/*    border-radius: 5px;*/
/*    background-color: green;*/
/*    font-weight: 500;*/
/*    margin-right: 20px;*/
/*    cursor:pointer;*/
/*    color:white;*/
/*}*/

.post {
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem 0;
    width: 99%;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    position: relative;
}


.post-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3rem;
    padding-bottom: 1rem;
    border-bottom: 0.1rem solid #000000;
}

.post-body {
    overflow-wrap: break-word;
}

.post-caption {
    margin: 0;
    margin-top: 1rem;
    padding: 0;
}

.post-header-left {
    display: grid;
    grid-template-columns: 3rem calc(100% - 3rem);
    gap: 1rem;
    cursor: pointer;
}

.profile-photo-container {
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.post-media {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    max-height: 50rem;
    object-fit: contain;
}

.post-full-size-profile-photo-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.full-size-image {
    max-width: 90%;
    max-height: 90%;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
}


.profile-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post-header-info {
    margin: 0;
    padding: 0;
}

.post-username {
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.post-date {
    margin: 0;
    padding: 0;
}

.post-header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

.error-message {
    color: red;
    font-size: 1rem;
}

.updating-message {
    color: green;
    font-size: 1rem;
}

.edit-post-button-icon {
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 10%;
}

.edit-post-button-icon:hover {
    background-color: #333;
    color: #ffffff;
}

.delete-post-button-icon {
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 10%;
    color: red;
    background-color: white;
}

.delete-post-button-icon:hover {
    background-color: red;
    color: white;
}


.post-file {
    max-width: 100%;
}

.file-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.post-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 0.1rem solid #000000;
    gap: 3rem;
}

.favorite-button {
    padding: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    background-color: white;
    color: red;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    border: none;
}

.favorite-button:hover {
    background-color: red;
    color: white;
}

.favorite-button.active {
    background-color: red;
    color: white;
}

.up-vote-button{
    padding: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    background-color: white;
    color: green;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    border: none;
}

.up-vote-button:hover {
    background-color: green;
    color: white;
}

.up-vote-button.active {
    background-color: green;
    color: white;
}

.down-vote-button{
    padding: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    background-color: white;
    color: red;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    border: none;
}

.down-vote-button:hover {
    background-color: red;
    color: white;
}

.down-vote-button.active {
    background-color: red;
    color: white;
}

.favorited-by-count {
    font-weight: bold;

}

.favorite-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.vote-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.view-comments-button {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    background-color: #ffffff;
    color: #222222;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.view-comments-button:hover {
    background-color: #333;
    color: #ffffff;
    font-weight: bold;
}

.see-more {
    color: darkblue;
    text-decoration: underline;
    cursor: pointer;
}

.see-less {
    color: darkblue;
    text-decoration: underline;
    cursor: pointer;
}

.hashtag {
    color: darkblue;
    text-decoration: underline;
    cursor: pointer;
}


@media (max-width: 768px) {
    .post-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 1rem;
        border-bottom: 0.1rem solid #000000;
    }


    .post-header-left {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .profile-photo-container {
        width: 3rem;
        height: 3rem;
    }

    .profile-photo {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .post-header-info {
        margin: 0;
        padding: 0;
    }

    .post-username {
        font-weight: bold;
        margin: 0;
        padding: 0;
    }

    .post-date {
        margin: 0;
        padding: 0;
    }

    .post-header-right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .edit-post-button-icon {
        box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
        padding: 0.5rem;
        cursor: pointer;
        border-radius: 10%;
    }

    .edit-post-button-icon:hover {
        background-color: #333;
        color: #ffffff;
    }

    .post-file {
        max-width: 100%;
    }

    .file-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .post-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        border-top: 0.1rem solid #000000;
    }

    .view-comments-button {
        padding: 0.5rem 1rem;
        border-radius: 1rem;
        background-color: #ffffff;
        color: #222222;
        box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
        font-weight: bold;
        border: none;
        cursor: pointer;
    }

    .view-comments-button:hover {
        background-color: #333;
        color: #ffffff;
        font-weight: bold;
    }
}

@media (prefers-color-scheme: dark) {

    .post-footer {
        border-top: 0.1rem solid #ffffff;
    }

    .post-header {
        border-bottom: 0.1rem solid #ffffff;
    }

    .edit-post-button-icon {
        box-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.3);
        background-color: #ffffff;
        color: #333333;
    }

    .edit-post-button-icon:hover {
        background-color: #333333;
        color: #ffffff;
    }

    .see-more {
        color: lightblue;
    }

    .see-less {
        color: lightblue;
    }

    .hashtag {
        color: lightblue;
    }
}