.post-comments-page-container {
        display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.post-comments-page{
    width: 50%;

}

.post-comments-page-wrapper {
   margin-bottom: 5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    width: 100%;
}

.post-comments-page-feed {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.no-comments{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);

}
.comments-post-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: auto;
    padding: 1rem;
    margin: 1rem;
}

.new-comment-button-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
}

.new-comment-button {
    background-color: #ffffff;
    color: #222222;
    border: none;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    position: fixed;
    bottom: 1rem;
    right: calc(25%);
    transition: transform 0.1s ease-in-out;
}

.new-comment-button.rotate {
    transform: rotate(45deg);
    transition: transform 0.1s ease-in-out;
}


.new-comment-button:hover {
       background-color: #333;
    color: #ffffff;
    font-size: 3rem;
}

.comments-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: auto;
    padding: 1rem;
    margin: 1rem;
}

@media (max-width: 1024px) {
    .new-comment-button {
        right: calc(10%);
    }

    .post-comments-page {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .new-comment-button {
        bottom: 5rem;
        right: 1rem;
    }

    .post-comments-page {
        width: 100%;
    }

    .post-comments-page-container {
        margin-top: 1rem;
    }
}

@media (prefers-color-scheme: dark) {
    .new-comment-button {
        background-color: #ffffff;
        color: #222222;
    }
}