.post {
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem 0;
    width: 99%;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    position: relative;
    overflow: hidden; 
}


.post-header {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 3rem;
    padding-bottom: 1rem;
    border-bottom: 0.1rem solid #000000;
}

.post-body {
    overflow-wrap: break-word;
}

.post-caption {
    margin: 0;
    margin-top: 1rem;
    padding: 0;
}

.post-header-left {
    display: grid;
    grid-template-columns: 3rem calc(100% - 3rem);
    gap: 1rem;
    cursor: pointer;
}

.profile-photo-container {
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    cursor: pointer;
    margin-right: 0;
    object-fit: cover;
}

.post-media {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    max-height: 30rem;
    object-fit: contain;
    overflow: hidden;
    cursor: pointer;
}

.post-media.full-size {
    max-height: none;
}

.post-full-size-profile-photo-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.full-size-image {
    max-width: 90%;
    max-height: 90%;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
}


.profile-photo {
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    object-fit: cover;
}

.post-header-info {
    margin: 0;
    padding: 0;
}

.post-username {
    font-weight: bold;
    margin: 0;
    padding: 0;
    overflow-wrap: break-word;
    word-break: break-word;
    width: 90%;
}

.post-date {
    margin: 0;
    padding: 0;
}

.post-header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

.error-message {
    color: red;
    font-size: 1rem;
}

.updating-message {
    color: green;
    font-size: 1rem;
}

.edit-post-button-icon {
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 10%;
}

.edit-post-button-icon:hover {
    background-color: #333;
    color: #ffffff;
}

.delete-post-button-icon {
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 10%;
    color: red;
    background-color: white;
}

.delete-post-button-icon:hover {
    background-color: red;
    color: white;
}


.post-file {
    max-width: 100%;
}

.file-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.post-footer {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 0.1rem solid #000000;
    gap: 3rem;
}

.favorite-button {
    padding: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    background-color: white;
    color: red;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    border: none;
}

.favorite-button:hover {
    background-color: red;
    color: white;
}

.favorite-button.active {
    background-color: red;
    color: white;
}

.up-vote-button{
    padding: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    background-color: white;
    color: green;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    border: none;
}

.up-vote-button:hover {
    background-color: green;
    color: white;
}

.up-vote-button.active {
    background-color: green;
    color: white;
}

.down-vote-button{
    padding: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    background-color: white;
    color: red;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    border: none;
}

.down-vote-button:hover {
    background-color: red;
    color: white;
}

.down-vote-button.active {
    background-color: red;
    color: white;
}

.favorited-by-count {
    font-weight: bold;
    font-size: large;
    cursor: pointer;
    text-decoration: underline;

    background-color: white;
    color: #1a2a6c;
}

.favorited-by-count:hover {
    font-weight: bold;
    font-size: large;
    text-decoration: underline;
    cursor: pointer;
    background-color: white;
    color: #1a2a6c;
}

.favorite-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.vote-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.vote-count {
    font-weight: bold;
    font-size: large;
    text-decoration: underline;
    cursor: pointer;
    background-color: white;
    color: #1a2a6c;
}

.vote-count:hover {
    cursor: pointer;
    text-decoration: underline;
    background-color: white;
    color: #1a2a6c;
    font-weight: bold;
    font-size: large;

}

.view-comments-button {

    padding: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background-color: #ffffff;
    color: #222222;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    font-weight: bold;
}

.view-comments-button:hover {
    background-color: #333;
    color: #ffffff;
    font-weight: bold;
}

.see-more {
    color: darkblue;
    text-decoration: underline;
    cursor: pointer;
}

.see-less {
    color: darkblue;
    text-decoration: underline;
    cursor: pointer;
}

.hashtag {
    color: darkblue;
    text-decoration: underline;
    cursor: pointer;
}

.delete-post-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    z-index: 1000;
}

.delete-post-modal {
    position: absolute;
    border-radius: 1rem;
    padding: 1rem;
    background-color: white;
    width: 30%;
    max-height: 50%;
    z-index: 1000;
    overflow-y: auto;
}

.delete-post-header {

}

.delete-post-error {
    color: red;
    font-weight: bold;
    margin-bottom: 1rem;
}

.delete-post-buttons-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    gap: 1rem;
}

.delete-post-button-no {
    padding: 0.5rem;
    border-radius: 10%;
    cursor: pointer;
    background-color: white;
    color: green;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    border: none;
}

.delete-post-button-yes {
    padding: 0.5rem;
    border-radius: 10%;
    cursor: pointer;
    background-color: white;
    color: red;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    border: none;
}

.delete-post-button-no:hover {
    background-color: green;
    color: white;
}

.delete-post-button-yes:hover {
    background-color: red;
    color: white;
}


@media (max-width: 768px) {
    .post-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 1rem;
    }


    .post-header-left {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .profile-photo-container {
        width: 3rem;
        height: 3rem;
        overflow: hidden;
        cursor: pointer;
        margin-right: 0;
        object-fit: cover;
    }

    .profile-photo {
        width: 3rem;
        height: 3rem;
        overflow: hidden;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        object-fit: cover;
    }

    .post-header-info {
        margin: 0;
        padding: 0;
    }

    .post-username {
        font-weight: bold;
        margin: 0;
        padding: 0;
    }

    .post-date {
        margin: 0;
        padding: 0;
    }

    .post-header-right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .edit-post-button-icon {
        box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
        padding: 0.5rem;
        cursor: pointer;
        border-radius: 10%;
    }

    .edit-post-button-icon:hover {
        background-color: #333;
        color: #ffffff;
    }

    .post-file {
        max-width: 100%;
    }

    .file-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .post-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;

    }

    .view-comments-button {

        border-radius: 1rem;
        background-color: #ffffff;
        color: #222222;
        box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
        border: none;
        cursor: pointer;
        font-size:small;
    }

    .view-comments-button:hover {
        background-color: #333;
        color: #ffffff;
        font-size:small;
    }

    .vote-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
    }

    .delete-post-modal {
        width: 90%;
    }
}

@media (prefers-color-scheme: dark) {

    .post-footer {
        border-top: 0.1rem solid #ffffff;
    }

    .post-header {
        border-bottom: 0.1rem solid #ffffff;

    }

    .edit-post-button-icon {
        box-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.3);
        background-color: #ffffff;
        color: #333333;
    }

    .edit-post-button-icon:hover {
        background-color: #333333;
        color: #ffffff;
    }

    .see-more {
        color: lightblue;
    }

    .see-less {
        color: lightblue;
    }

    .hashtag {
        color: lightblue;
    }

    .vote-count {
        background: inherit;
        border: 0 solid #444444;
        color: white;
    }

    .vote-count:hover {
        background: inherit;
        border: 0 solid #444444;
        color: white;
    }

    .favorited-by-count {
        background: inherit;
        border: 0 solid #444444;
        color: white;
    }

    .favorited-by-count:hover {
        background: inherit;
        border: 0 solid #444444;
        color: white;
    }

    .delete-post-modal {
        background-color: #333333;
        color: white;
    }

}
