.profile-page-container {
  display: flex;
  justify-content:  center;
  margin-top:  1rem;
}

.profile-wrapper {
  width: 50%;
}

.profile-info-wrapper {
    text-align: center;
    border-radius: 0 0 10% 10%;
    box-shadow:  0 0 0.5rem rgba(0, 0, 0, 0.5);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.profile-pic-wrapper {
  position: relative;
  margin-bottom: 1rem;
}

.profile-pic {
    position: relative;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    top: 15rem;
    object-fit: cover;
    margin-bottom: 15rem;
    border: 0.3rem solid #333333;
}

.background-pic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20rem;
    object-fit: cover;
    box-shadow:  0 0 0.5rem rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.profile-name {
    margin-bottom: 1rem;

}

.profile-username {
    color: #666;
}


.edit-profile-button-icon {
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 10%;
}

.edit-profile-button-icon:hover {
    background-color: #333333;
    color: #ffffff;
}

.follow-button {
    margin-bottom: 1rem;
    border-radius: 10%;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    color: #333333;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
}

.follow-button:hover {
    background-color: #333333;
    font-size: 1rem;
    color: #ffffff;
    font-weight: bold;
}

.profile-feed{
    margin-bottom: 5rem;
    border-radius: 1%;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

@media (max-width: 1024px) {
    .profile-wrapper {
        width: 80%;
    }

    .profile-info-wrapper {
        padding-bottom: 0.5rem;
    }

    .profile-pic {
        width: 8rem;
        height: 8rem;
        top: 15rem;
        margin-bottom: 15rem;
    }
}

@media (max-width: 768px) {
    .profile-wrapper {
        width: 100%;
    }

    .profile-pic {
        width: 6rem;
        height: 6rem;
        top: 6rem;
        margin-bottom: 5rem;
    }

    .background-pic {
        height: 10rem;
    }

    .profile-info-wrapper {
        padding-bottom: 0.1rem;
    }

    .profile-name {
        font-size: 5vw;
        margin-bottom: 0.3rem;
    }

    .profile-username {
        font-size: 3vw;
    }

    .profile-page-container {
        margin-top: 0;
    }

    .background-pic {
        border-radius: 0;
    }

    .profile-info-wrapper {
        border-radius: 0;
    }

    .follow-button {
        font-size: 0.5rem;

    }

    .follow-button:hover {
        font-size: 0.5rem;
    }
}

@media (prefers-color-scheme: dark) {

    .profile-pic {
        border: 0.3rem solid #ffffff;
    }

    .profile-info-wrapper {
        box-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.3);
    }

    .edit-profile-button-icon {
        box-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.3);
    }

    .edit-profile-button-icon {
        background-color: #ffffff;
        color: #333333;
    }

    .edit-profile-button-icon:hover {
        background-color: #333333;
        color: #ffffff;
    }
}
