/* Register.css */


.register-container {
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, #1a2a6c, #00d2ff, #3a7bd5, #1a2a6c);
}

.register-form {
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    text-align: left;
    color: #1a2a6c;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 90%;
}

input {
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    padding: 10px;
    margin-bottom: 20px;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    font-family: 'Futura', sans-serif;
    font-weight: lighter;
    font-size: 16px;
    width: 95%;
}


label {
    -webkit-appearance: none;
    color: #1a2a6c;
    margin-bottom: 10px;
    font-family: 'Futura', sans-serif;
    font-weight: lighter;
    font-size: 16px;
}

.profile-pic-upload img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-pic-upload input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.bio-textarea{
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    margin-bottom: 20px;
    padding: 10px;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    font-family: 'Futura', sans-serif;
    font-weight: lighter;
    font-size: 16px;
    min-width: 95%;
    min-height: 10vh;
    max-width: 95%;
    max-height: 10vh;

}

.profile-pic-container {
    display: flex;
    align-items: center;
}

.profile-pic-upload {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border-color: #1a2a6c;
    border-style: solid;
    border-width: 3px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.profile-pic-upload-container {
    position: relative;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 30px auto;
}

.plus-sign {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    color: #1a2a6c;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.register-button {

    background-color: #1a2a6c ;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    font-family: 'Futura', sans-serif;
    font-weight: lighter;
    font-size: 18px;
    border: 1px solid #fff;
}

.register-button:hover {

    background-color: #fff;
    color: #1a2a6c;
    font-family: 'Futura', sans-serif;
    font-weight: lighter;
    font-size: 18px;
    border: 1px solid #1a2a6c;
}

.register-link
{
    color: #1a2a6c;

}

@media (prefers-color-scheme: dark) {
    .register-container {
        background: linear-gradient(to top, #555555, #000000, #000000, #000000, #000000, #555555);
    }

    .register-form {
        background-color: #222222;
        color: #ffffff;
    }

    label {
        color: #ffffff;
    }

    .register-button {
        background-color: #ffffff;
        color: #222222;
        border: 1px solid #fff;
    }

    .register-button:hover {
        background-color: #222222;
        color: #ffffff;
        border: 1px solid #222222;
    }

    .profile-pic-upload {
        border-color: #fff;
    }

    .plus-sign {
        background-color: #222222;
        color: #fff;
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    }

    .register-link
    {
        color: #ffffff;
    }

}

@media (max-width: 1366px) {
    .register-form {
        width: 50%;
    }
}


@media (max-width: 768px) {
    .register-form {
        padding: 0px;
        margin: 0px;
        width: 100%;
        height: 100%;
    }

    .profile-pic-upload-container {
        margin: 5px auto;
    }

    .profile-pic-upload {
        width: 80px;
        height: 80px;
    }

    .plus-sign {
        position: absolute;
        width: 30px;
        height: 30px;
        font-size: 16px;
        bottom: 5px;
        right: 20px;
    }

    .register-button {
        padding: 5px;
        font-size: 16px;
    }

    .bio-textarea {
        min-width: 95%;
        max-width: 95%;
        min-height: 10%;
        max-height: 10%;
    }

    input {
        height: 16px;
    }

    label {
        font-size: 12px;
        margin-bottom: 5px;
    }

}
