
# dependencies
epoch_frontend/node_modules
epoch_frontend/.pnp
epoch_frontend/.pnp.js

# testing
epoch_frontend/coverage/


# production
epoch_frontend/build/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.idea

epoch_frontend/npm-debug.log*
epoch_frontend/yarn-debug.log*
epoch_frontend/yarn-error.log*

# python
__pycache__
epoch_backend/assets/epoch_media/users/
epoch_backend/assets/really_secret_files.txt
epoch_backend/privkey.pem
epoch_backend/fullchain.pem
epoch_backend/main.log
epoch_backend/nohup.out
epoch_frontend/main.log
epoch_frontend/nohup.out
.coverage


epoch_backend/assets/epoch-414600-66dd2b7c57f6.json
epoch_backend/assets/privkey.pem
epoch_backend/assets/fullchain.pem
epoch_backend/assets/db_params.json



