
# dependencies
epoch_frontend/node_modules
epoch_frontend/.pnp
epoch_frontend/.pnp.js

# testing
epoch_frontend/coverage/

# production
epoch_frontend/build/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.idea

epoch_frontend/npm-debug.log*
epoch_frontend/yarn-debug.log*
epoch_frontend/yarn-error.log*

# python
__pycache__
epoch_backend/assets/epoch_media/users/
epoch_backend/assets/really_secret_files.txt
epoch_backend/privkey.pem
epoch_backend/fullchain.pem
epoch_backend/main.log



